.mapSize {    
    color: white;
    background: grey;
    padding: 15px 10px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;    
    transform: translate(-50%, -50%);
    float: right;
}

.mapHeightWidth {
    margin-top: 5px;
    float: right;
    height: 30vh;
    width: 50%;
}