.clientInfoSection {
    color: black;    
    border: 1px solid black;  
    height: 40vh;    
}

.clientLettering h1 {
    line-height: 2em;
}

.clientInfo {
    margin-top: 30px;
    width: 50%;
    float: left;   
    font-size: 1.5em !important;
}

.transcriptSection {
    height: 40vh;
    border: 1px solid black;   
    margin-top: 5px;
}

.sectionTitles {
    background-color: grey;
    font-size: 2em;
    width: 100%; 
    padding: 5px;
}

.css-1q1cor0 {
    color: black;
}
