.clientInfoSection {
    color: black;    
    border: 1px solid black;  
    height: 35vh;    
}

.clientLettering h1 {
    line-height: 2em;
}

.clientInfo {
    margin-top: 5px;
    width: 50%;
    float: left;    
}

.transcriptSection {
    height: 40vh;
    border: 1px solid black;   
    margin-top: 5px;
}

.notepadSection {
    height: 40vh;
    border: 1px solid black;
    margin-top: 5px;
}

.sectionTitles {
    background-color: grey;
    width: 100%; 
    padding: 5px;
}
