.intake-form-style {
    background-color: white;
    border: 1px solid black;
<<<<<<< HEAD
    margin-top: 20px;
=======
>>>>>>> Added Intake Form framework. Still needs validation and submission code to the repository.
    padding: 5px;    
}

.intake-title {
    text-align: center;
    margin: 10px 0px;
}

.line-break {
    border: 2px solid black;
    width: 50%;
    margin: auto;
}

<<<<<<< HEAD
.label-heading {
    margin-top: 20px;
}

.submit-button {
    width: 30%;
    margin: auto;
    margin-top: 30px;
=======
.submit-button {
    width: 30%;
    margin: auto;
>>>>>>> Added Intake Form framework. Still needs validation and submission code to the repository.
}